.about-page {
    background-image: url(../images/about/about-bg.jpg);
    background-size: cover;
    margin-bottom: 129px;
    position: relative;
    &__breakpoints {
        position: absolute;
        top: 0;
        padding-top: 12px;
        padding-bottom: 14px;
        .breakpoints__text a,
        .breakpoints__text {
            @extend %default-font;
            font-size: 14px;
            color: $default-color;
        }
    }

    &__bg-color {
        padding-top: 172px;
        padding-bottom: 156px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    &__title {
        @extend %title-font;
        color: $title-color;
        font-size: 60px;
        line-height: 80px;
        text-align: center;
    }
}

.desc {
    &__inner {
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 36px;
        line-height: 60px;
        @extend %title-font;
        max-width: 822px;
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 23px;
        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 2px;
            background-color: #6d7278;
            bottom: 0;
            left: 0;
        }
    }
    &__texts {
        width: 825px;
        color: $default-color;
        align-self: flex-end;
    }
    &__text {
        padding-bottom: 30px;
    }
}

.video-review {
    &__inner {
        margin-bottom: 100px;
    }
    &__video {
        background-image: url(../images/about/video-post.jpg);
        background-size: cover;
        min-height: 414px;
        margin: 0 auto;
        width: 100%;
        background-repeat: no-repeat;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-image: url(../images/about/play.png);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            cursor: pointer;
        }
    }
}

.partners {
    &__items {
        display: flex;
        justify-content: space-around;
    }
    &__images {
        padding: 0 10px;
        // width: 100%;
        max-width: 100%;
    }
}

.about-gallery {
    padding-top: 50px;
    padding-bottom: 70px;

    &__slide {
        position: relative;
        outline: none;
        &:hover .about-gallery__slide-content {
            opacity: 0.6;
        }
    }
    &__image {
        margin: 0 auto;
        width: 420px;
    }

    &__slide-content {
        position: absolute;
        margin: 0 auto;
        text-align: center;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: 0.6s;
        opacity: 0;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__slide-content__title {
        @extend %title-font;
        font-size: 20px;
        line-height: 24px;
        color: $title-color;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 200px;
            height: 1px;
            background-color: #6d7278;
            // margin-bottom: 25px;
        }
    }
    &__slide-content__text {
        color: #707070;
    }
}

.progressbar {
    position: relative;
    &__bg {
        &::after {
            position: absolute;
            content: "";
            max-width: 1920px;
            margin: 0 auto;
            background-image: url(../images/about/progressbar-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            top: 128px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 75px;
    }
    &__chair {
        max-width: 40%;
    }
    &__content {
        max-width: 60%;
    }
    &__content-title {
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 23px;
        padding-bottom: 15px;
        position: relative;
        color: $title-color;
        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: #6d7278;
            bottom: 0;
            left: 0;
        }
    }
    &__content-text {
        color: $default-color;
        margin-bottom: 30px;
    }

    &__items-wrapper {
        max-width: 100%;
    }
    &__item {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &__item-desc {
        display: flex;
        width: 100%;
        padding-bottom: 14px;
    }
    &__item-name {
        width: 100%;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
    }
    &__item-percent {
        text-align: right;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
    }
    &__item-minus {
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        height: 2px;
        border: none;

        // padding: 3px;
        // box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
        // padding-bottom: 30px;
    }
    &__item-plus {
        display: block;
        height: 2px;
        background-color: #363838;
        border-radius: 30px;

        transition: width 500ms ease-in-out;
    }
}
