.blog-page {
    &__inner {
        padding-top: 10px;
        padding-bottom: 0px;
        display: flex;
    }
    &__content {
        width: 65%;
    }
    &__post {
        margin-top: 50px;
        margin-bottom: 70px;
    }
    &__post-img {
        width: 100%;
    }
    &__post-desc {
        margin-top: 25px;
    }
    &__post-category {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        padding-bottom: 10px;
    }
    &__post-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 38px;
        padding-bottom: 6px;
        color: $title-color;

        &-authentic {
            padding-bottom: 25px;
        }
        &--link {
            @extend %title-font;
            font-size: 24px;
            line-height: 38px;
            padding-bottom: 6px;
            color: $title-color;
        }
    }
    &__post-text {
        color: $default-color;
        padding-bottom: 50px;
    }
    &__quote-inner {
        padding: 54px 65px;
        background-color: rgba(222, 222, 222, 0.5);
        text-align: center;
    }
    &__quote-text {
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        font-style: italic;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 23px;
        &::after {
            position: absolute;
            content: "";
            width: 200px;
            height: 2px;
            background-color: #6d7278;
            border-radius: 16px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__quote-author {
        @extend %title-font;
        line-height: 22px;
        color: $default-color;
    }

    &__post-img {
        outline: none;
    }
    &__post-slider {
        position: relative;
    }
}
.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    background-color: transparent;
    outline-style: none;
    font-size: 0;
    cursor: pointer;
    height: 100%;
    width: 80px;

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        z-index: 1;
        width: 10px;
        height: 17px;
        background-image: url(../images/blog/prevArrow.svg);
        cursor: pointer;
    }
}
.slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    background-color: transparent;
    outline-style: none;
    font-size: 0;
    cursor: pointer;
    height: 100%;
    width: 80px;

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        z-index: 1;
        width: 10px;
        height: 17px;
        background-image: url(../images/blog/nextArrow.svg);
        cursor: pointer;
    }
}

.sidebar {
    margin-top: 50px;
    width: 35%;
    margin-left: 30px;
    &__input-search {
        width: 100%;
        padding: 6px 0 6px 18px;
        border-radius: 100px;
        outline-style: none;
        font-size: 14px;
        border: 1px solid #a1a1a1;
        &:focus {
            box-shadow: 0 0 0pt 1px #a1a1a1;
        }
        color: $default-color;
        &::placeholder {
            color: #a1a1a1;
        }
    }
    &__input-container {
        position: relative;
        width: 100%;
    }
    &__search-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 7px;
        right: 19px;
        padding: 5px;
        outline-color: #a1a1a1;
        outline-style: none;
        &:focus {
            border-radius: 16px;
            box-shadow: 0 0 0pt 1px #8f8d8d;
        }
    }
    &__categories-title {
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        margin-top: 44px;
        padding-bottom: 14px;
        color: $title-color;
    }
    &__categories-list {
        margin-bottom: 36px;
    }
    &__categories-item {
        padding-bottom: 12px;
        color: $default-color;
    }
    &__recent-posts {
        margin-bottom: 50px;
    }
    &__recent-posts-title {
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 24px;
        color: $title-color;
    }
    &__recent-posts-item {
        padding-bottom: 10px;
    }
    &__recent-posts-link {
        color: $default-color;
    }
    &__recent-posts-category {
        color: #a1a1a1;
    }
    &__tags-title {
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 4px;
        color: $title-color;
    }
    &__tags-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__tags-item {
        margin-top: 10px;
        margin-right: 5px;
    }

    &__tags-btn {
        background-color: transparent;
        font-weight: 600;
        font-size: 14px;
        color: #8f8d8d;
        padding: 0 16px;
        border-radius: 16px;
        border: 1px solid #8f8d8d;
        outline-style: none;
        box-shadow: 0 0 0pt 0pt rgba(143, 141, 141, 0.5);

        &:focus {
            box-shadow: 0 0 0pt 1pt rgba(143, 141, 141, 0.5);
        }
    }

    &__item {
        display: inline-block;
        margin-right: 10px;
    }
}

.post-page {
    &__inner {
        padding-top: 10px;
        padding-bottom: 0px;
        display: flex;
    }
    &__content {
        width: 65%;
    }
    &__post {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    &__post-img {
        width: 100%;
    }
    &__post-desc {
        margin-top: 25px;
    }
    &__post-category {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        padding-bottom: 10px;
    }
    &__post-title {
        @extend %title-font;
        font-size: 24px;
        line-height: 38px;
        padding-bottom: 6px;
        color: $title-color;

        &--link {
            @extend %title-font;
            font-size: 24px;
            line-height: 38px;
            padding-bottom: 6px;
            color: $title-color;
        }
    }
    &__post-text {
        color: $default-color;
    }

    &__quote-inner {
        margin: 40px 0px 30px;
        padding: 0 40px;
        text-align: left;
    }
    &__quote-text {
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        font-style: italic;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 23px;
        &::after {
            position: absolute;
            content: "";
            width: 200px;
            height: 2px;
            background-color: #6d7278;
            border-radius: 16px;
            bottom: 0;
            left: 0;
            // transform: translateX(-50%);
        }
    }
    &__quote-author {
        @extend %title-font;
        line-height: 22px;
        color: $default-color;
    }

    &__tags {
        margin-bottom: 40px;
    }
    &__tags-title {
        @extend %title-font;
        font-size: 20px;
        line-height: 31px;
    }
    &__tags-items {
        display: flex;
        flex-wrap: wrap;
    }
    &__tags-item {
        margin-top: 10px;
        margin-right: 23px;
    }
    &__tags-btn {
        padding: 0 16px;
        font-weight: 600;
        font-size: 14px;
        color: #8f8d8d;
        background-color: transparent;
        border: 1px solid #8f8d8d;
        border-radius: 16px;
        outline-style: none;
        box-shadow: 0 0 0pt 0pt rgba(143, 141, 141, 0.5);

        &:focus {
            box-shadow: 0 0 0pt 1pt rgba(143, 141, 141, 0.5);
        }
    }

    &__prev-next-posts__inner {
        display: flex;
        justify-content: space-between;

        padding-top: 40px;
        padding-bottom: 32px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 35px;
    }

    &__prev-next-posts__prev-post {
        width: 276px;
        text-align: left;
        padding-left: 33px;
        position: relative;
    }
    &__prev-next-posts__prev-post--link {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/blog/prev.svg);
            width: 12px;
            height: 23px;
            top: 17px;
            left: 0;
        }
    }

    &__prev-next-posts__next-post {
        width: 276px;
        text-align: right;
        padding-right: 33px;
        position: relative;
    }

    &__prev-next-posts__next-post--link {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        &::after {
            position: absolute;
            content: "";
            background-image: url(../images/blog/next.svg);
            width: 12px;
            height: 23px;
            top: 17px;
            right: 0;
        }
    }

    &__comment {
        position: relative;
    }

    &__comment-avatar {
        position: absolute;
        border-radius: 60px;
    }

    &__comment-title {
        @extend %title-font;
        font-size: 20px;
        line-height: 31px;
        color: $title-color;
        margin-bottom: 10px;
    }

    &__comment-inner {
        padding-left: 77px;
        padding-bottom: 40px;
    }
    &__comment-info {
        display: flex;
    }

    &__comment-info--name {
        @extend %title-font;
        line-height: 23px;
        color: $title-color;
        padding-top: 3px;
        width: 100%;
    }
    &__comment-info--reply-link {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
    &__comment-date {
        font-size: 14px;
        color: #a1a1a1;
        padding-bottom: 10px;
    }
    &__comment-text {
        color: $default-color;
    }

    &__post-comment {
        margin-bottom: 100px;
    }

    &__post-comment__title {
        @extend %title-font;
        color: $title-color;
        line-height: 23px;
        font-size: 16px;
        margin-bottom: 25px;
    }

    &__post-comment__inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    &__post-comment__input-text {
        width: 100%;
        border-radius: 24px;
        padding: 14px 15px;
        height: 125px;
        border: 1px solid #dfdfdf;
        resize: none;
        margin-bottom: 12px;

        outline-style: none;
        &:focus {
            box-shadow: 0 0 0px 1px #8f8d8d91;
        }
        color: $default-color;
        &::placeholder {
            color: #a1a1a1;
        }
    }

    &__post-comment__input-name {
        width: 100%;
        border-radius: 20px;
        border: 1px solid #dfdfdf;
        padding: 6px 15px;
        margin-right: 5px;

        outline-style: none;
        &:focus {
            box-shadow: 0 0 0px 1px #8f8d8d91;
        }
        color: $default-color;
        &::placeholder {
            color: #a1a1a1;
        }
    }
    &__post-comment__input-email {
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid #dfdfdf;
        padding: 6px 15px;
        margin-left: 5px;

        outline-style: none;
        &:focus {
            box-shadow: 0 0 0px 1px #8f8d8d91;
        }
        color: $default-color;
        &::placeholder {
            color: #a1a1a1;
        }
    }

    &__post-comment__checkbox-wrapper {
        position: relative;
    }
    &__post-comment__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        border: none;
        // outline: 1px solid #979797;
        border-color: transparent;
        // appearance: none;
    }
    &__post-comment__checkbox-text {
        font-size: 14px;
        color: #a1a1a1;
        margin-bottom: 5px;
        padding-left: 30px;
    }
    &__post-comment__btn {
        display: block;
        margin-top: 19px;
        font-weight: 600;
        color: #fffff0;
        padding: 6px 12px;
        background-color: $title-color;
        width: 160px;
        height: 40px;
        border-radius: 21px;
        border:none;
        cursor: pointer;
    }
}
