.gallery-page {
    padding-bottom: 88px;

    &__filter {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 46px;
    }
    &__filter-btn {
        background-color: transparent;
        outline: none;
        border: 1px solid #8f8d8d;
        border-radius: 100px;
        color: #8f8d8d;
        font-weight: 600;
        padding: 6px 16px;
        cursor: pointer;
        transition: 0.6s;
        margin: 0 12px;
        &:focus {
            border: 1px solid rgba(255, 238, 51, 0.5);
            color: $title-color;
            background-color: rgba(255, 238, 51, 0.5);
        }

        &:hover {
            border: 1px solid rgba(255, 238, 51, 0.5);
            color: $title-color;
            background-color: rgba(255, 238, 51, 0.5);
        }
    }
    &__images-1 {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 1.6fr 2fr;
        grid-gap: 30px;

        margin-bottom: 30px;
    }
    &__left-image-1 {
        max-width: 100%;
        width: 100%;
        align-items: stretch;
        transition: all 0.6s;
        box-shadow: 0 0 7pt 3pt rgba(144, 142, 142, 0.5);

        &:hover {
            box-shadow: 0 0 2pt 2pt #8f8d8d;
        }
    }
    &__right-1 {
        display: grid;
        // justify-items: stretch;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__right-image-1 {
        width: 100%;
        box-shadow: 0 0 7pt 3pt rgba(144, 142, 142, 0.5);
        transition: all 0.6s;

        &:hover {
            box-shadow: 0 0 2pt 2pt #8f8d8d;
        }
    }

    &__images-2 {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 2fr 1.6fr;
        grid-gap: 30px;
    }
    &__right-image-2 {
        max-width: 100%;
        width: 100%;
        transition: all 0.6s;
        box-shadow: 0 0 7pt 3pt rgba(144, 142, 142, 0.5);

        &:hover {
            box-shadow: 0 0 2pt 2pt #8f8d8d;
        }
    }
    &__left-2 {
        display: grid;
        // justify-items: stretch;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        align-items: stretch;
        justify-items: stretch;
    }
    &__left-image-2 {
        width: 100%;
        transition: all 0.6s;
        box-shadow: 0 0 7pt 3pt rgba(144, 142, 142, 0.5);

        &:hover {
            box-shadow: 0 0 2pt 2pt #8f8d8d;
        }
    }
}
