// @media (min-width: 2000px) {
//     .rightside-menu {
//         // display: none;
//         // transform: translateX(4000px);
//     }
// }
@media (max-width: 920px) {
    .footer {
        &__inner {
            // flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 20px;
        }
        &__info {
            margin: 0 auto;
            width: 65%;
        }
        &__form {
            max-width: 500px;
        }
        &__social {
            width: 20%;
            margin: 40px auto 0;
            padding: 0 20px;
        }
        &__menu {
            margin: 20px auto 0;
            padding: 0 20px;
            flex-direction: column;
            width: 100%;
        }
        &__menu-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__menu-item {
            padding: 0 20px;
        }
    }
}
@media (max-width: 700px) {
    .footer {
        &__info {
            margin: 0 auto;
            width: 90%;
        }
        &__social {
            width: 100%;
            padding: 0 20px;
        }
        &__social-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__social-item {
            padding-right: 20px;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__btn {
            display: none;
        }
    }
    .rightside-menu {
        display: none;
        // transform: translateX(4000px);
    }
    .menu {
        &__item-list {
            padding-left: 0;
            & + .menu__item-list {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 540px) {
    .header {
        box-shadow: none;
        &__inner {
            padding-top: 20px;
            position: relative;
            // z-index: -10;
            // padding-bottom: 30px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background-color: #fff;
                z-index: 23;
                // box-shadow: ;
                box-shadow: 0 2px 4px -2px rgba(#000, 0.25);
            }
        }
        .container {
            padding: 0;
        }
        &__inner {
            flex-wrap: wrap;
            position: relative;
        }
        &__btn-menu {
            position: relative;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            z-index: 25;

            padding-top: 5px;
            padding-right: 15px;

            span {
                background-color: $default-color;
                width: 37px;
                height: 3px;
                display: block;
                border-radius: 4px;
                margin-bottom: 6px;
            }
        }
    }
    .menu {
        display: block;
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        transform: translateY(-400px);
        position: relative;
        background-color: #fff;
        transition: all 1s;

        &--open {
            z-index: 22;

            transition: transform 1s;
            transform: translateY(20px);
            // background-color: #fff;
        }

        &__items {
            width: 100%;
            display: block;
            border-bottom: 1px solid #5a5a5a50;
            box-shadow: 0 2px 4px -2px rgba(#000, 0.25);

            &--1 {
                border-bottom: none;
            }
        }
        &__item-list {
            padding: 10px 0px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        &__list-link {
            width: 100%;
            padding: 10px 0;
            display: inline-block;
            &:hover::after {
                display: none;
            }
        }
    }
    .logo {
        padding-left: 15px;
        z-index: 25;

        margin: 0;
        padding-top: 5px;
        order: -1;
    }
    .main {
        margin-top: -302px;
        z-index: 20;
        &--class {
            z-index: 19;
        }
    }
    .footer {
        &__form {
            flex-direction: column;
        }

        &__form-btn {
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .footer {
        &__menu-items {
            flex-wrap: nowrap;
            flex-direction: column;
            text-align: center;
        }
    }
}
