$default-color:#5A5A5A;
$title-color: #363838;



%default-font{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
%title-font{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}