@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    box-shadow: 0 4px 4px -2px rgba(#000, 0.25);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        &:focus {
            outline: none;
        }
    }
    #check {
        display: none;
    }
    #check:checked ~ .rightside-menu {
        right: 0px;
        // background-color: #000 !important;
    }
}
.logo-link {
    margin: 0 auto;
}
.menu {
    &__items {
        display: flex;
        justify-content: space-between;

        padding-left: 10px;
    }
    &__item-list {
        padding-left: 20px;
        padding-right: 60px;
    }
    &__list-link {
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 700;
        color: $default-color;
    }
}

.rightside-menu {
    background-color: #fcfcfc;
    position: fixed;
    display: block;
    top: 0;
    right: -800px;
    // bottom: 0;
    max-width: 494px;
    width: 100%;
    padding-top: 40px;
    z-index: 100;
    padding-bottom: 100px;
    height: 100%;
    transition: all 1s;

    &__btn-close {
        cursor: pointer;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    &__content {
        text-align: center;
        margin: 0 auto;
        max-width: 383px;
    }
    &__content-logo {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 194px;
        width: 100%;
    }
    &__content-title {
        @extend %title-font;
        color: $title-color;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 17px;

        position: relative;
        &::after {
            position: absolute;

            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 0;
            content: "";
            background-color: #6d7278;
            width: 252px;
            height: 1px;
        }
    }
    &__content-text {
        margin-bottom: 75px;
    }
    &__content-img {
        margin: 0 auto;
        max-width: 283px;
        width: 100%;
    }
}

.main-content {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -10;
    padding-bottom: 100px;
    &__bottom-line {
        position: absolute;
        width: 100%;
        height: 196px;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: -5;
        // position: relative;
    }
    &__left {
        width: 45%;
        position: relative;
        z-index: 3;
    }
    &__left-bg::before {
        content: "";
        position: absolute;
        top: 70px;
        left: 110px;
        width: 400px;
        height: 600px;
        background-color: rgb(241, 209, 82);
        z-index: -3;
    }
    &__left-img {
        max-width: 703px;
        width: 100%;
        margin: 0 auto;
    }
    &__slide {
        display: flex !important;
    }

    &__right {
        width: 55%;

        padding-top: 150px;
        padding-left: 20px;
    }
    &__right-title {
        font-size: 100px;
        @extend %title-font;
        line-height: 124px;
        position: relative;
        margin-bottom: 40px;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 187px;
            height: 1px;
            background-color: #979797;
        }
    }
    .slick-dots {
        position: absolute;
        left: 50%;
        // top: 50%;
        transform: translateX(-80px);
        width: 8px;
        height: 8px;
        z-index: -4px;
        display: flex;
        list-style: none;
        button {
            font: inherit;
            font-size: 0;
            background-color: #979797;
            width: 8px;
            padding: 0;
            height: 8px;
            border-radius: 100px;
            margin: 0 15px;
            border: none;
        }
        .slick-active button {
            background-color: #ffef35;
        }
    }
}

.about {
    padding-bottom: 100px;

    &__content {
        text-align: center;
        margin: 0 auto;
        width: 730px;
        margin-bottom: 24px;
    }
    &__title {
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        position: relative;
        padding-bottom: 25px;
        color: $title-color;

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 252px;
            height: 1px;
            background-color: #979797;
            // margin-bottom: 25px;
        }
    }
    &__text {
        margin-top: 24px;
        color: $default-color;
    }

    &__slide {
        position: relative;
        outline: none;
        &:hover .about__slide-content {
            opacity: 0.6;
        }
    }
    &__image {
        margin: 0 auto;
        width: 420px;
    }

    &__slide-content {
        position: absolute;
        margin: 0 auto;
        text-align: center;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: 0.6s;
        opacity: 0;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__slide-content__title {
        @extend %title-font;
        font-size: 20px;
        line-height: 24px;
        color: $title-color;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 200px;
            height: 1px;
            background-color: #6d7278;
            // margin-bottom: 25px;
        }
    }
    &__slide-content__text {
        color: #707070;
    }
}

.call-to-action {
    background-image: url(../images/call-to-action-bg.jpg);
    background-size: cover;

    &__bg-color {
        padding-top: 172px;
        padding-bottom: 156px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    &__title {
        @extend %title-font;
        color: $title-color;
        font-size: 60px;
        line-height: 80px;
    }
    &__text {
        color: $title-color;
        width: 540px;
        opacity: 1;
    }
}

.how-it-works {
    padding-top: 80px;
    padding-bottom: 100px;
    &__title {
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__steps {
        display: flex;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 1110px;
            height: 2px;
            background-color: #363838;

        }
    }
    &__steps-start {
        width: 50%;
        display: flex;
        justify-content: space-between;
        height: 400px;
    }
    &__step {
        width: 255px;
    }
    .step-1,
    .step-3 {
        align-self: start;
    }
    .step-2,
    .step-4 {
        align-self: flex-end;
        .step-text-last{
            text-align: right;
        }
    }
    &__step-title {
        @extend %title-font;
        position: relative;
        padding-left: 47px;
        padding-bottom: 15px;
    }
    &__step-title-1 {
        &::before {
            content: "";
            background-image: url(../images/designer-consultation.svg);
            width: 41px;
            height: 42px;
            position: absolute;
            top: -8px;
            left: 0;
        }
    }
    &__step-title-2 {
        &::before {
            content: "";
            background-image: url(../images/measurement.svg);
            width: 38px;
            height: 26px;
            position: absolute;
            top: 0px;
            left: 0;
        }
    }
    &__step-title-3 {
        &::before {
            content: "";
            background-image: url(../images/production.svg);
            width: 38px;
            height: 34px;
            position: absolute;
            top: -3px;
            left: 0;
        }
    }
    &__step-title-4 {
        text-align: right!important;
        &::before {
            content: "";
            background-image: url(../images/delivery.svg);
            width: 42px;
            height: 37px;
            position: absolute;
            top: -10px;
            left: 0;
        }
    }
    .step-1{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #363838;
            bottom: -23px;
            left: -2px;
            border-radius: 100px;
        }
    }
    .step-2{
        position: relative;
        // padding-bottom: 48px;
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #363838;
            top: -43px;
            left: 0px;
        }
    }
    .step-3{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #363838;
            bottom: -101px;
            left: 0px;
        }
    }
    .step-4{
        position: relative;
        padding-bottom: 30px;
        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #363838;
            top: -47px;
            right: -2px;
            border-radius: 100px;
        }
    }
}

.footer {
    background-color: #dfdfdf;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 80px;
    }
    &__info {
        max-width: 540px;
    }
    &__info-title {
        line-height: 23px;
        margin-bottom: 14px;
        color: $title-color;
    }
    &__info-text {
        margin-bottom: 16px;
        color: $default-color;
    }
    &__info-email {
        color: $title-color;
        font-weight: 600;
        font-size: 14px;
        padding-left: 28px;
        position: relative;
        margin-bottom: 22px;
        display: inline-block;
        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 16px;
            height: 12px;
            background-image: url(../images/email.svg);
        }
    }
    &__form {
        display: flex;
    }
    &__form-input {
        width: 100%;
        border-radius: 21px;
        padding: 6px 10px 6px 18px;
        border: 1px solid $title-color;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
    &__form-btn {
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        width: 160px;
        color: #fffff0;
        background-color: $title-color;
        margin-left: 9px;
        &:focus {
            outline: none;
        }
    }
    &__social-item {
        margin-bottom: 15px;
        padding-left: 28px;
        position: relative;
    }
    &__social-link {
        color: #707070;
        font-weight: 600;
        font-size: 14px;
    }

    &__social-link--facebook {
        &::before {
            position: absolute;
            top: 7px;
            left: 0;
            content: "";
            width: 16px;
            height: 16px;
            background-image: url(../images/facebook.svg);
        }
    }
    &__social-link--instagram {
        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 14px;
            height: 14px;
            background-image: url(../images/instagram.svg);
        }
    }
    &__social-link--pinterest {
        &::before {
            position: absolute;
            top: 7px;
            left: 0;
            content: "";
            width: 16px;
            height: 16px;
            background-image: url(../images/pinterest.svg);
        }
    }
    &__social-link--whatsapp {
        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 14px;
            height: 14px;
            background-image: url(../images/whatsapp.png);
        }
    }
    &__social-link--youtube {
        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 19px;
            height: 13px;
            background-image: url(../images/youtube.svg);
        }
    }

    &__menu-item {
        margin-bottom: 15px;
    }
    &__menu-link {
        color: #707070;
        font-weight: 600;
        font-size: 14px;
    }

    .copyright {
        text-align: center;
        background-color: $title-color;
        border: 1px solid $title-color;

        padding: 42px 0 41px;
        p {
            color: #a1a1a1;
        }
    }
}
